{% extends "base.html" %}
{% block content %}
    <h1>Сгенерировать сертификат.</h1>
     <form name="test" method="post" action="">
      <p><b>Выберите форму сертификата:</b><Br>
       <input type="radio" name="browser" value="ie">Базовая<Br>
       <input type="radio" name="browser" value="opera">Проектная<Br>
      </p>
      <p><b>Имя и фамилия:</b><br>
	    <textarea name="username">  </textarea>
      </p>
      <p><b>Дата начала:</b><br>
      <textarea name="date1">  </textarea>
      </p>
      <p><b>Дата завершения:</b><br>
      <textarea name="date2">  </textarea>
      </p>
      <p><b>Загрузите файл со списком :</b><br>
       <input type="file">
      </p>
      <p><input type="submit" value="Сгенерировать файл"></p>
     </form>
{% endblock %}